/* .col {
    border: 1px dashed red;
    padding: 0;
} */

/*--Main Style--*/

article {
    background-image: url(../images/vintage-concrete.png);
    background-repeat: repeat;
    height: 120vh;
    padding-top: 1px;
    
    }

body {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #4aaaa5;
    color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #666666;
    border-top: solid 8px;
    border-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}

nav {
    border-bottom: 1px solid #cccccc;
}

ul {
    float: right;
    padding-top: 20px;
}


.badge {
    padding: 0;
}

.banner {
    position: relative;
    left: 0px;
    bottom: 60px;
}

.col h2 {
    color: #ffffff;
}

.container {
    padding: 0;
}

.form-group {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.h1, .h2, .h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1 {
    padding: 10px 15px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-bottom: 0px;
}

.h2 {
    padding-top: 10px;
    color: #4aaaa5;
}

.h4 {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    min-width: 100%;
    
}

.header {
    border-bottom: 2px solid #dddddd;
    padding: 10px 0;
    margin-bottom: 20px;
}


.img-inner {
    height: 220px;
}



.inner {
    border: 1px solid #dddddd;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.info {
    padding: 0px 10px;
}


.info p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
    padding-left: 30px;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
}

.wrapper {
    background-color: #ffffff;
    width: 960;
    margin-top: 50px;
}




